/* cor de fundo*/

.cb_branco {
    background-color: #FFFFFF;
}

.cb_verde {
    background-color: #00C89B;
}

.cb_verdeforte {
    background-color: #015240;
}

.cb_cinza {
    background-color: #999999;
}

.cb_preto {
    background-color: #3A3A3A;
}

.cb_laranja {
    background-color: #F08600;
}

.cb_roxo {
    background-color: #8B00CC;
}

.cb_cinzaClaro {
    background-color: #f4f4f4;
}

.c {
    width: 90%;
    margin: 0 auto;
}

/*****************************************
  definições de icones
******************************************/

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
    font-family: icon;
    font-style: normal;
}

.icon-frete:before {
    content: "\f100";
}

.icon-whatsapp:before {
    content: "\f101";
}

.icon-enviar:before {
    content: "\f102";
}

.icon-atendimento:before {
    content: "\f103";
}

.icon-grafico:before {
    content: "\f104";
}

.icon-troca:before {
    content: "\f105";
}

.icon-instagram:before {
    content: "\f106";
}

.icon-twitter:before {
    content: "\f107";
}

.icon-linkedin:before {
    content: "\f108";
}

.icon-youtube:before {
    content: "\f109";
}

.icon-mapa:before {
    content: "\f10a";
}

.icon-facebook:before {
    content: "\f10b";
}

.icon-busca:before {
    content: "\f10c";
}

.icon-menu:before {
    content: "\f10d";
}

.icon-fechar:before {
    content: "\f10e";
}

.icon-email:before {
    content: "\f10f";
}



/*****************************************
  alteração no rodapé
******************************************/

ul.info-list {
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
}

.ui-g {
    display: flex;
    flex-wrap: wrap;
}

.div-rodape {
    width: 100%;
    height: 100px;
}

a.info-link-a {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #3A3A3A !important;
    font-weight: normal !important;
}

.info-title {
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #3A3A3A;
}  

.info-list-l {
    margin-bottom: 15px;
}

.info-link-icons {
    padding-left: 17px;
}

.list-comercial {
    margin-bottom: 30px;
}

/*****************************************
  alteração no cabeçalho
******************************************/

 .layout-wrapper.layout-menu-horizontal .topbar .layout-menu-wrapper .layout-menu-container ul li > ul {
    background-color: #248671;
}
    #wBusca {
        width: 45%;
        height: 35%;
    }
#divBusca{
position: relative!important;
bottom: 10%;
}
    .top-welcome p span:not(:last-child) {
    margin-right: 20px;
}

    .top-welcome-white {
        color: white;
        font-weight: normal;
    }

    .logo {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(120deg) brightness(5000%) contrast(102%);
    }

    .layout-wrapper .topbar .layout-menu-wrapper ul li>a:hover {
        color: #00C89B;
    }
    
    p {
        font-size: small;
    }
    .ParceiroLink{
    color: white !important;
      font-weight: bold;
}

    .layout-wrapper.layout-menu-horizontal .topbar .layout-menu-wrapper .layout-menu-container .layout-menu>li>a:hover {
        border-color: #00C89B;
    }

    .layout-menu-wrapper {
        background-color: #248671 !important;
    }
.div-cabecalho{
        height: 45px;
        background-color: #015240;
    }
.top-welcome p{
font-family: sans-serif,arial;
font-weight: normal !important;
position: relative;
text-align: center;
bottom: 5px;
}
.layout-wrapper .topbar .topbar-main .busca .ui-inputfield {
    background: none !important;
     
    border: 2px solid white !important;
}
input::placeholder{
color:white;
}
.avatar{
position: relative!important;
bottom: 23%;
}
.entrar{
 bottom: 23%;   
}
